/* @media (max-width: 600px) {
  nav ul {
    display: none;
  }
  #menu-btn {
    display: block;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 16px;
  }

  main {
    display: block;
  }

  .events,
  .weather,
  .spotlights {
    grid-column: unset;
    margin-bottom: 1.5rem;
  }

  footer {
    font-size: 0.85rem;
    text-align: center;
  }

  .spotlights #spotlight-container {
    grid-template-columns: 1fr;
  }
  .join-layout {
    display: block;
  }
  .join-layout {
    display: block;
  }
  .join-layout .join-form,
  .join-layout .join-benefits {
    margin: 1rem;
  }
} */

/* LARGE (1025px+) */
@media (min-width: 1025px) {
  .discover-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "item1 item2 item3 item4"
      "item5 item6 item7 item8";
  }

  .discover-card img:hover {
    transform: scale(1.05);
    filter: brightness(90%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
