@media (max-width: 600px) {
  nav ul {
    display: none;
  }
  #menu-btn {
    display: block;
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 16px;
  }

  main {
    display: block;
  }

  .events,
  .weather,
  .spotlights {
    grid-column: unset;
    margin-bottom: 1.5rem;
  }

  footer {
    font-size: 0.85rem;
    text-align: center;
  }

  .spotlights #spotlight-container {
    grid-template-columns: 1fr;
  }
}
